body {
  background-color: blanchedalmond;
}
.wrapper {
  border-radius: 15px;
  background-color: aqua;
  margin: 0 auto;
  text-align: center;
  border: 1px solid black;
  width: 500px;
  height: 300px;
}
.buttons {
  border-bottom: 2px solid green;
  margin: 20px;
}

.buttonsStyle {
  padding-top: 40px;
  padding-bottom: 30px;
  margin: 0 auto;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.buttonMinus,
.buttonPlus,
.buttonMultiply,
.buttonDivide {
  width: 30px;
  height: 30px;
}

.inputs {
  padding-top: 30px;
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
